#shape-creator , #shapes-holder{
    margin: 10px;
    padding: 10px;
}

#shape-creator{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#shapes-holder{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

select,button{
    padding: 10px;
    border-radius: 5px;
}

button{
    background-color: palegreen;
}



.square{
    width: 75px;
    height: 75px;
    background-color: red;
    text-align: center;
    color: white;
}

.circle{
    width: 75px;
    height: 75px;
    background-color: purple;
    border-radius: 50%;
    text-align: center;
    color: white;
}